---
---
<header class="site-header">
  <div class="header-inner">
    <a href={import.meta.env.BASE_URL} class="logo-link">
      <img src={import.meta.env.BASE_URL + "images/Nobleriselong1.png"} alt="諾昇理財規劃" width="200" height="50" loading="eager" />
    </a>
    <div class="header-right">
      <div class="header-company">
        <span class="header-company-cn">諾昇理財規劃顧問股份有限公司</span>
        <span class="header-company-en">NobleRise Financial Planning Consultant co., LTD.</span>
      </div>
      <nav class="main-nav">
        <ul>
          <li><a href={import.meta.env.BASE_URL}>首頁</a></li>
          <li class="has-sub">
            <a href={import.meta.env.BASE_URL + "about/"}>關於諾昇</a>
            <ul class="sub-menu">
              <li><a href={import.meta.env.BASE_URL + "about/策略夥伴/"}>策略夥伴</a></li>
            </ul>
          </li>
          <li><a href={import.meta.env.BASE_URL + "service/"}>服務項目</a></li>
          <li class="has-sub">
            <a href={import.meta.env.BASE_URL + "blog/"}>知識文章</a>
            <ul class="sub-menu">
              <li><a href={import.meta.env.BASE_URL + "blog/investment/"}>投資理財</a></li>
              <li><a href={import.meta.env.BASE_URL + "blog/insurance/"}>保險權益</a></li>
              <li><a href={import.meta.env.BASE_URL + "blog/certification/"}>證照進修</a></li>
              <li><a href={import.meta.env.BASE_URL + "blog/business-planning/"}>財務規劃</a></li>
              <li><a href={import.meta.env.BASE_URL + "blog/elderly-care-trust/"}>信託規劃</a></li>
              <li><a href={import.meta.env.BASE_URL + "blog/tax-planning/"}>傳承稅務</a></li>
            </ul>
          </li>
          <li><a href={import.meta.env.BASE_URL + "contact/"}>聯絡我們</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
