---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import ScrollReveal from '../components/ScrollReveal.astro';
import FloatingButtons from '../components/FloatingButtons.astro';

interface Props {
  title: string;
  description: string;
  image?: string;
  type?: 'website' | 'article';
}
const { title, description, image, type } = Astro.props;
---
<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <Head title={title} description={description} image={image} type={type} />
  <slot name="head" />
</head>
<body>
  <Header />
  <slot />
  <Footer />
  <ScrollReveal />
  <FloatingButtons />
</body>
</html>
